<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/recipebook"
        android:label="@string/app_name"
        android:roundIcon="@drawable/recipebook"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoGong"
        tools:targetApi="33">
        <activity android:name=".View.ChangeNicknameActivity" />
        <activity android:name=".View.ChangePasswordActivity" />
        <activity android:name=".View.SignupActivity" />
        <activity android:name=".View.Legacy.DetailActivity" />
        <activity android:name=".View.Legacy.PostActivity" />
        <activity android:name=".View.MainActivity" />
        <activity android:name=".View.Legacy.JoinActivity" />
        <activity android:name=".View.EmailVerificationActivity" />
        <activity android:name=".View.RecipeAddActivity" />
        <activity android:name=".View.RecipeLookupActivity" />
        <activity android:name=".View.RecipeSearchActivity" />
        <activity android:name=".View.ReportActivity" />
        <activity android:name=".View.RefrigeratorActivity" />
        <activity android:name=".View.MailBoxActivity" />
        <activity android:name=".View.MailSendActivity" />
        <activity android:name=".View.MailLookupActivity" />
        <activity android:name=".View.PhotoAddActivity" />
        <activity android:name=".View.PhotoLookupActivity" />
        <activity android:name=".View.MyPageBoardActivity" />
        <activity android:name=".View.Refri_AddIngredientActivity"/>

        <activity
            android:name=".View.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SoGong.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>